footer {
    width: 100%;
    overflow: scroll;
    margin-top: 12px;
}

.scrolls-footer {
    display: flex;
    width: 2300px;
    gap: 16px;
}

.scroll-footer {
    position: relative;
    width: 417px;
    height: 236px;
}


.footer-image-banner {
    position: absolute;
    top: 180px;
    left: 15px;
    display: flex;
    font-size: 14px;
    color: white;
    font-weight: 600;
    letter-spacing: -0.22px;
    justify-content: space-between;
    width: 370px;
    align-items: center;

}

.footer-image-banner div {
    color: black;
}