body {
  font-family: inter;
  margin: 0%;
  min-width: 1920px;
}

.apple-logo {
  padding-left: 16px;
}

header > div {
  font-size: 12px;
  align-items: center;
  display: flex;
  gap: 14px;
  letter-spacing: -0.28px;
}

header > p {
  font-size: 14px;
  color: rgba(29, 29, 31, 1);
  margin-bottom: 0px;
  padding-bottom: 0;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-container {
  background-color: rgba(245, 245, 247, 0.8);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-menu {
  display: none;
}

.vector-container {
  display: flex;
  gap: 24px;
  align-items: center;
}

.menu-container {
  display: flex;
  gap: 1.25vw;
}
