body {
  max-width: 1920px;
}
header p {
  margin-bottom: 20px;
}
.section1 {
  display: flex;
}
.section1 > p {
  color: rgba(110, 110, 115, 1);
  font-size: 44px;
  font-weight: 700;
}

.store {
  font-size: 42px;
  font-weight: 700px;
  margin: 0 32px 0 0;
}
.assistant {
  display: flex;
}
.assistant > img {
  margin: 0 16px 0 759px;
}
.assistant-text {
  color: rgba(0, 102, 204, 1);
  font-size: 14px;
}
.assistant-text p {
  font-weight: 700;
  color: black;
  margin-top: 10px;
}
.assistant-shop div {
  text-decoration: underline;
  margin-bottom: 16px;
}
.divice-image {
  width: 120px;
}
.divices {
  display: flex;
  gap: 25px;
  text-align: center;
}
.divices h1 {
  font-size: 14px;
  color: rgba(29, 29, 31, 1);
  font-weight: 700;
  margin-top: 16px;
}
main,
footer {
  background-color: rgba(245, 245, 247, 1);
  padding-left: 144px;
  margin-top: -5px;
}
main > p {
  font-size: 24px;
  font-weight: 700;
  margin: 60px 0 24px 0;
  color: rgba(110, 110, 115, 1);
}
.scrolls-price {
  display: flex;
  gap: 16px;
  overflow-x: scroll;
}
.scroll-price {
  flex-shrink: 0;
  position: relative;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}
.scroll-price-text {
  position: absolute;
  z-index: 1;
  left: 30px;
  bottom: 350px;
}
.price-image {
  width: 480px;
  border-radius: 18px;
}
.scroll-price div {
  color: rgba(182, 68, 0, 1);
}
.scroll-price h1,
.scroll-price p {
  color: rgba(29, 29, 31, 1);
}

.headphone scroll-price div {
  font-size: 12px;
}
.headphone > div {
  background-color: white;
  width: 313px;
  height: 500px;
  border-radius: 18px;
}
.headphone > div:nth-child(1) {
  width: 400px;
  background-color: transparent;
}
.headphone .price-image {
  width: 230px;
  margin: 71px 41px 0 41px;
}
.headphone > div:nth-child(1) .price-image {
  width: 400px;
  margin: 0;
}
.dot-airpod-max {
  margin: 0 0 0 109px;
}
.headphone .scroll-price h1 {
  font-size: 18px;
  margin: 10px 0 0 0;
}
.headphone .scroll-price:nth-child(1) h1 {
  font-size: 26px;
  margin: 0;
}
.headphone p {
  position: absolute;
  bottom: 10px;
  left: 30px;
}
.headphone .scroll-price-text {
  top: 340px;
}
.headphone .scroll-price:nth-child(1) .scroll-price-text {
  top: 60px;
}
.headphone > div:nth-child(3) h1,
.headphone > div:nth-child(4) h1 {
  margin-top: 30px;
}
.gift-container {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  font-weight: 700;
}
.gift {
  position: relative;
  flex-shrink: 0;
}
.gift-text {
  position: absolute;
  font-size: 13px;
  top: 50px;
  left: 30px;
  width: 305px;
}
.gift-image {
  width: 480px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}
.gift-text-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 646px;
  flex-shrink: 0;
}
.gift-text-box > div {
  width: 313px;
  height: 240px;
  background-color: white;
  font-size: 22px;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  border-radius: 18px;
}
.gift-text-box p {
  margin: 82px 0 0 30px;
}
.trade-in {
  font-size: 12px;
  color: rgba(110, 110, 115, 1);
  position: absolute;
  left: 30px;
  top: 31px;
}

.experience h1,
.saving h1 {
  font-size: 26px;
}
.experience p,
.saving p {
  font-size: 17px;
  font-weight: 400;
}

.experience .gift:nth-child(2) p,
.experience .gift:nth-child(2) h1 {
  color: white;
}
.saving .gift-image {
  width: 400px;
}
.business .gift-text {
  color: white;
}
footer h1 {
  margin-top: 0px;
  padding-top: 60px;
  font-size: 26px;
}
footer button {
  font-size: 14px;
  padding: 10px 12px;
  border-radius: 999px;
  margin-left: 8px;
  border: 1px solid;
  color: rgba(29, 29, 31, 1);
}
