body {
  font-family: inter;
  margin: 0 100px 0 100px;
  max-width: 1920px;
}
@media (max-width: 768px) {
  .nvvr1 {
    background-image: url(images/nvvr1jijig.png);
  }
  .nvvr2 {
    background-image: url(images/nvvr2tablet.png);
  }
  .nvvr2 > h1 {
    font-size: 42px;
    padding-top: 58px;
  }
  .nvvr2 > p {
    font-size: 32px;
  }
  .nvvr3 {
    display: none;
  }
  .product {
    margin: 12px 0 0 0;
  }
  .product-item {
    width: calc(50% - 18px);
  }

  .product-item:nth-child(1) > p {
    color: black;
  }
  .product-item:nth-child(1) {
    width: 100%;
  }
  .product-item:nth-child(4) {
    background-image: url(images/iwatch-tablet.jpg);
  }
  .product-item:nth-child(2),
  .product-item:nth-child(9) {
    display: none;
  }
}

@media (max-width: 390px) {
  .nvvr1 {
    background-image: url(images/Figure.png);
    height: 500px;
  }

  .nvvr1 > h1 {
    padding-top: 350px;
    font-size: 30px;
  }

  .nvvr1 > p {
    font-size: 18px;
    margin: 0 0 15px 0;
  }

  .learn-button,
  .buy-button {
    font-size: 14px;
    padding: 8px 16px;
  }
  .nvvr2 {
    background-image: url(images/nvvr2jijig.png);
    height: 500px;
  }
  .nvvr2 > h1 {
    padding-top: 36px;
    font-size: 30px;
  }

  .nvvr2 > p {
    font-size: 18px;
    margin: 0 0 15px 0;
  }
  .nvvr3 {
    display: none;
  }
}
