.nvvr3 {
  background-image: url(images/nvvr3.png);
  background-size: cover;
  width: 100%;
  height: 692px;
  background-position: center;
  text-align: center;
}
.nvvr3 > h1 {
  font-weight: 600;
  font-size: 52px;
  letter-spacing: -0.28px;
  color: black;
  padding-top: 446px;
  margin-bottom: 0;
}

.nvvr3 > p {
  font-size: 24px;
  color: black;
}
