.nvvr1 {
  aspect-ratio: 19/7;
  text-align: center;

}

.nvvr1>h1 {
  font-weight: 600;
  font-size: 52px;
  letter-spacing: -0.28px;
  color: rgba(245, 245, 247, 1);
  padding-top: 55px;
  margin-top: 16px;
  position: absolute;
}

.nvvr1>p {
  font-size: 24px;
  color: rgba(245, 245, 247, 1);
  position: absolute;
}

.learn-button {
  background-color: rgba(0, 113, 227, 1);
  padding: 12px 20px;
  border-radius: 999px;
  border: 0;
  color: white;
  letter-spacing: -0.37px;
  font-size: 16px;
  margin-right: 16px;
  font-family: inter;
}

.buy-button {
  background-color: transparent;
  color: rgba(41, 151, 255, 1);
  padding: 12px 20px;
  border-radius: 999px;
  border: 1px solid rgba(41, 151, 255, 1);
  font-family: inter;
}

.nvvr1-zurag {
  object-fit: cover;
  object-position: 50% 50%;


  z-index: -1;
}