.scroll-container {
  width: 100%;
  overflow: scroll;
  scroll-snap-type: both proximity;
  margin-top: 12px;
}
.scroll {
  display: flex;
  width: 4000px;
  gap: 16px;
}
.scroll2banner {
  position: absolute;
}
.scroll button {
  padding: 12px 20px;
}
