@media (max-width: 768px) {
    .button-menu {
        display: block;
    }

    .menu-container {
        display: none;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .vector-container {
        gap: 0;
    }

    .apple-logo {
        width: 18px;
    }

    .tsvnh-container {
        margin-left: 16px;
    }

    .header>p {
        width: 444px;
    }

    .nvvr2>h1 {
        font-size: 42px;
        padding-top: 58px;
    }

    .nvvr2>p {
        font-size: 32px;
    }

    .nvvr3 {
        display: none;
    }

    .product {
        margin: 12px 0 0 0;
    }

    .product-item {
        width: calc(50% - 18px);
    }

    .product-item:nth-child(1)>p {
        color: black;
    }

    .product-item:nth-child(1) {
        width: 100%;
    }

    .product-item:nth-child(4) {
        background-image: url(images/iwatch-tablet.jpg);
    }

    .product-item:nth-child(2),
    .product-item:nth-child(9) {
        display: none;
    }
}